.box img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: .2;
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.box {
	display: flex;
	position: relative;
	/* border-radius: 1em; */
	background: #c4c7ca;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.box p {
	position: relative;
	margin: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	color: #263238;
}

.container { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
	margin-top: 5rem;
}

.item {
    padding: 10px;
    width: 35%;
    word-wrap: break-word;
    box-sizing: border-box;
	margin-bottom: 5%;
    /* background-color: rgba(0,0,0,0.05); */
}

.item-20 {
	padding: 10px;
    width: 20%;
    word-wrap: break-word;
    box-sizing: border-box;
	margin-bottom: 5%;
}

.item-25 {
    padding: 10px;
    width: 25%;
    word-wrap: break-word;
    box-sizing: border-box;
	margin-bottom: 5%;
    /* background-color: rgba(0,0,0,0.05); */
}

.item-60 {
    padding: 10px;
    width: 60%;
    word-wrap: break-word;
    box-sizing: border-box;
	margin-bottom: 5%;
    /* background-color: rgba(0,0,0,0.05); */
}

.item-45 {
    padding: 10px;
    width: 45%;
    word-wrap: break-word;
    box-sizing: border-box;
	margin-bottom: 5%;
    /* background-color: rgba(0,0,0,0.05); */
}

#center-text{
	text-align: center;
	color: white;
}

#merge-section {
	margin-top: 0;
}

.item img {
	min-width: 0;
	max-width: 100%;
	height: auto;
	overflow: hidden;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
}

.item video {
	min-width: 0;
	max-width: 100%;
	height: auto;
	overflow: hidden;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
}

.gutter-right {
    padding: 10px;
    width: 15%;
    word-wrap: break-word;
    box-sizing: border-box;
}

.gutter-left {
    padding: 10px;
    width: 15%;
    word-wrap: break-word;
    box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}