:root {
    --Primary: #031424;
    --light: #fdfeff;
    --Secandary: #30415d;
    --cta: #118099;
    --cta_padding: 12px 24px;
    --font: 'comfortaa', sans-serif;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
.navcontainer {
    display: flex;
    background-color: var(--cta);
    font-size: 2rem;
    height: 10rem;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

.nav img {
	min-width: 0;
	max-width: 2.5%;
	height: auto;
	overflow: hidden;
}

.navcontainer a {
    text-decoration: none;
    text-align: center;
    color: white;
    word-spacing: 1rem;
}

.nav {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}