:root {
    --Primary: #031424;
    --light: #fdfeff;
    --Secandary: #30415d;
    --cta: rgb(82, 182, 204);
    --cta_padding: 12px 24px;
    --font: 'comfortaa', sans-serif;
  }

  .banner-background {
    background-color: var(--cta);
  }

  .banner-background h2{
    color: white;
  }

  .banner-background h3 {
    color: white;
  }

  .banner-background p {
    color: white;
  }

  .banner-background ul li {
    color: white;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
.navcontainer {
    position: fixed;
    z-index: 9999;
    display: flex;
    background-color: var(--cta);
    font-size: 2rem;
    height: 6rem;
    width: 100%;
    /* padding: 1rem; */
    justify-content: center;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.nav img {
	min-width: 0;
	max-width: 2.5%;
	height: auto;
	overflow: hidden;
}

.navcontainer a {
    text-decoration: none;
    text-align: center;
    color: white;
    word-spacing: 1rem;
}

.nav {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

.nav a:hover{
  opacity: 80%;
  scale: 125%;
}

.nav img:hover {
  opacity: 80%;
  scale: 125%;
}

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.arrow-container {
  /* background-image: url('http://www.placekitten.com/g/1000/1000'); */
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  margin-top: 35vh;
}

.center {
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  /* width: 45vw; */
}


.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:1rem auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #00b6f1;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #00b6f1;
}

iframe {
  margin:auto;
  display:block;
}